body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 30px;
}

#tempBtn {
    background: #7aafe7;
    margin-top: 12px;
    border-radius: 5px;
    padding: 5px;
    color: #1f1f1f;
    /* margin: 10px; */
}